/Users/zhangxinlin/Desktop/ads/Spring2020-Project2-group-10/data/restaurant.csv[[:space:]] filter=lfs diff=lfs merge=lfs -text
/Users/zhangxinlin/Desktop/ads/Spring2020-Project2-group-10/data/calendar.csv[[:space:]] filter=lfs diff=lfs merge=lfs -text
[[:space:]]/Users/zhangxinlin/Desktop/Spring2020-Project2-group-10/data/calendar.csv[[:space:]] filter=lfs diff=lfs merge=lfs -text
